<font color = "#CC3D3D">
# DW(Data Wrangling) Competition

<font color = "#CC3D3D">
## Step 1) Make features ##
</font>    
- 상품판매 데이터로부터 적절한 파생변수(feature)를 만든 후 학습용(`X_train.csv`)과 평가용(`X_test.csv`)으로 나누어 저장한다.
- scikit-learn에서는 categorical feature를 사용할 수 없기 때문에 One-hot-encoding을 통해 numeric feature로 변경해야 한다. (아래 `[파생변수 11]` 코드 참조)

#### 판매데이터 구조
- custid: 고객ID
- sales_date: 판매일자 (문자)
- str_nm: 판매시간 (4자리 숫자)
- goodcd: 상품코드
- brd_nm: 브랜드명
- corner_nm: 코너명
- pc_nm: PC명
- part_nm: 파트명
- team_nm: 판매팀명
- buyer_nm: Buying MD
- import_flg: 수입상품여부
- tot_amt: 판매금액
- dis_amt: 할인금액
- net_amt: 판매금액 - 할인금액
- inst_mon: 할부개월수

<p>*`백화점 영업조직`: 306개 corner < 76개 pc < 29개 part < 3개 team*</p>
<p>*`y_train.csv`에서 target값 0은 남자, 1은 여자를 나타냄*</p>

In [147]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_columns', 30, 'max_rows', 30)

*파생변수를 만들기 위한 학습용과 제출용 상품판매 데이터를 읽고 하나로 합친다.*

In [148]:
train = pd.read_csv('train_transactions.csv', encoding='cp949')
test = pd.read_csv('test_transactions.csv', encoding='cp949').sort_values(by='custid')
tr = pd.concat([train, test]); tr

,custid,sales_date,sales_time,str_nm,goodcd,brd_nm,corner_nm,pc_nm,part_nm,team_nm,buyer_nm,import_flg,tot_amt,dis_amt,net_amt,inst_mon
0,18,2000-12-09 00:00:00,1523,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,43000,2150,40850,1
1,18,2000-12-09 00:00:00,1730,신촌점,4220830013076,BCBG,칼라드래디셔널,타운란제리,여성캐주얼,의류패션팀,엘레강스캐주얼,0,148000,0,148000,3
2,18,2000-12-09 00:00:00,1712,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,43000,4300,38700,1
3,18,2000-12-09 00:00:00,1710,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,-43000,-2150,-40850,1
4,18,2001-02-03 00:00:00,1822,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,19000,1900,17100,1
5,18,2001-02-24 00:00:00,1610,신촌점,4104881000379,서도스카프,스카프,섬유,패션잡화,잡화가용팀,섬유,0,19000,0,19000,1
6,18,2001-01-06 00:00:00,1810,신촌점,4100110001130,비비안스타킹,스타킹,섬유,패션잡화,잡화가용팀,섬유,0,13300,0,13300,1
7,18,2001-01-13 00:00:00,1710,신촌점,4207730013076,피에르가르뎅,인텔리젼스캐주얼,타운란제리,여성캐주얼,의류패션팀,엘레강스캐주얼,0,50000,0,50000,2
8,18,2001-02-10 00:00:00,1732,신촌점,4405620026000,지오다노,영캐주얼,영캐주얼,영플라자,의류패션팀,유니캐주얼,0,39800,3980,35820,1
9,18,2001-03-03 00:00:00,1522,신촌점,4140440003200,키사,싸롱화,피혁A,패션잡화,잡화가용팀,피혁A,0,148000,14800,133200,3
10,18,2001-04-01 00:00:00,1802,신촌점,4100560001100,비너스스타킹,스타킹,섬유,패션잡화,잡화가용팀,섬유,0,10000,1000,9000,1
11,18,2001-03-24 00:00:00,1632,신촌점,4132320008000,아베다,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,0,42000,4200,37800,1
12,18,2001-04-28 00:00:00,1940,신촌점,4140440003200,키사,싸롱화,피혁A,패션잡화,잡화가용팀,피혁A,0,-148000,-7400,-140600,3
13,18,2001-04-28 00:00:00,1942,신촌점,4140440003200,키사,싸롱화,피혁A,패션잡화,잡화가용팀,피혁A,0,148000,14800,133200,3
14,18,2001-04-28 00:00:00,1943,신촌점,4140440003200,키사,싸롱화,피혁A,패션잡화,잡화가용팀,피혁A,0,148000,7400,140600,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10262,899751,2000-09-24 00:00:00,1603,천호점,2139141008000,랑콤,수입종합화장품,화장품,잡화,잡화가용팀,화장품,0,58000,2900,55100,3
10264,899751,2000-10-15 00:00:00,1743,천호점,2139141008000,랑콤,수입종합화장품,화장품,잡화,잡화가용팀,화장품,0,37000,1850,35150,1
10265,899751,2000-09-30 00:00:00,1850,천호점,4300810019976,카운테스마라,넥타이,셔츠,남성의류,의류패션팀,정장셔츠,0,54000,0,54000,3
10266,899751,2000-11-25 00:00:00,1710,천호점,4213282013080,롤롤,영캐쥬얼,영트랜디,영라이브,의류패션팀,영캐주얼,0,15000,0,15000,1
10267,899751,2000-12-02 00:00:00,1633,천호점,2139141008000,랑콤,수입종합화장품,화장품,잡화,잡화가용팀,화장품,0,153000,7650,145350,3
10268,899751,2000-11-25 00:00:00,1720,천호점,4213282013080,롤롤,머플러,섬유,영라이브,의류패션팀,영캐주얼,0,55000,0,55000,3
10269,899751,2000-11-25 00:00:00,1720,천호점,4213282013080,롤롤,영캐쥬얼,영트랜디,영라이브,의류패션팀,영캐주얼,0,-15000,0,-15000,1
10270,899751,2001-01-27 00:00:00,1620,천호점,4244500013076,ZARD,단품,엘레강스캐쥬얼,여성캐쥬얼,의류패션팀,니트단품,0,78000,0,78000,3
10271,899751,2001-02-20 00:00:00,1603,천호점,4208200113100,제임스딘.P,미확인코너,디자이너부틱,여성정장,의류패션팀,니트단품,0,30000,1500,28500,1
10272,899751,2001-01-27 00:00:00,1443,천호점,2139141008000,랑콤,수입종합화장품,화장품,잡화,잡화가용팀,화장품,0,13000,650,12350,1
10273,899751,2001-02-20 00:00:00,1540,천호점,6311160015100,겔럭시,내셔널,정장,남성의류,의류패션팀,정장셔츠,0,812000,0,812000,3
10274,899751,2001-02-24 00:00:00,1520,천호점,6311160015100,겔럭시,내셔널,정장,남성의류,의류패션팀,정장셔츠,0,929000,0,929000,3
10275,899751,2001-02-24 00:00:00,1603,천호점,4532221043000,세보/어센틱,욕실용품,식기,가정용품,잡화가용팀,조리욕실,0,36500,1500,35000,1
10263,899751,2000-09-30 00:00:00,1733,천호점,2139141008000,랑콤,수입종합화장품,화장품,잡화,잡화가용팀,화장품,0,163000,8150,154850,6
10279,899751,2001-02-20 00:00:00,1610,천호점,6123882003000,레노마구두현금,임대슈즈,패션슈즈,영어덜트캐쥬얼,의류패션팀,피혁A,0,113000,0,113000,3

*파생변수를 저장할 빈 리스트를 만든다.*

In [149]:
features = []

<font color='green'>
### Numeric Features

**[파생변수 1]** 총 구매액

In [150]:
f = tr.groupby('custid')['tot_amt'].agg([('총구매액', 'sum')]).reset_index()
features.append(f); f

      custid     총구매액
0         18   680100
1         21   353450
2         23  5671400
3         26  1964000
4         35   885000
5         50  3580200
6         69   816300
7         82   752200
8         92  1145400
9        100   442160
10       102   590000
11       103   836600
12       126  1892400
13       148  2897110
14       154   285000
...      ...      ...
9985  897551   502000
9986  897798  8309866
9987  897955  1575900
9988  897968   314120
9989  898069   433920
9990  898101  3468693
9991  898211   492000
9992  898240  1220000
9993  898244  2649900
9994  898468   264000
9995  898872  2804000
9996  898895  1115400
9997  898994   609600
9998  899372  2327800
9999  899751  4456300

[10000 rows x 2 columns]

**[파생변수 2]** 구매건수

In [151]:
f = tr.groupby('custid')['tot_amt'].agg([('구매건수', 'size')]).reset_index()
features.append(f); f

      custid  구매건수
0         18    15
1         21     9
2         23    36
3         26    28
4         35     5
5         50    36
6         69    14
7         82     5
8         92    13
9        100    16
10       102     5
11       103    15
12       126    41
13       148    24
14       154     4
...      ...   ...
9985  897551     2
9986  897798    78
9987  897955    19
9988  897968     3
9989  898069     9
9990  898101    95
9991  898211     8
9992  898240    14
9993  898244    19
9994  898468     8
9995  898872    24
9996  898895    13
9997  898994    10
9998  899372    15
9999  899751    50

[10000 rows x 2 columns]

**[파생변수 3]** 평균 구매가격

In [152]:
f = tr.groupby('custid')['tot_amt'].agg([('평균구매가격', 'mean')]).reset_index()
f.iloc[:,1] = f.iloc[:,1].apply(round)
features.append(f); f

      custid  평균구매가격
0         18   45340
1         21   39272
2         23  157539
3         26   70143
4         35  177000
5         50   99450
6         69   58307
7         82  150440
8         92   88108
9        100   27635
10       102  118000
11       103   55773
12       126   46156
13       148  120713
14       154   71250
...      ...     ...
9985  897551  251000
9986  897798  106537
9987  897955   82942
9988  897968  104707
9989  898069   48213
9990  898101   36513
9991  898211   61500
9992  898240   87143
9993  898244  139468
9994  898468   33000
9995  898872  116833
9996  898895   85800
9997  898994   60960
9998  899372  155187
9999  899751   89126

[10000 rows x 2 columns]

**[파생변수 4]** 평균 할부개월수

In [153]:
f = tr.groupby('custid')['inst_mon'].agg([('평균할부개월수', 'mean')]).reset_index()
f.iloc[:,1] = f.iloc[:,1].apply(round, args=(1,))
features.append(f); f

      custid  평균할부개월수
0         18      1.7
1         21      1.2
2         23      2.8
3         26      1.4
4         35      6.0
5         50      2.4
6         69      1.7
7         82      2.6
8         92      1.9
9        100      1.0
10       102      3.0
11       103      2.1
12       126      1.6
13       148      1.5
14       154      2.0
...      ...      ...
9985  897551      4.5
9986  897798      1.5
9987  897955      1.4
9988  897968      3.3
9989  898069      1.9
9990  898101      1.9
9991  898211      2.5
9992  898240      1.7
9993  898244      2.1
9994  898468      1.0
9995  898872      1.4
9996  898895      2.1
9997  898994      1.6
9998  899372      1.3
9999  899751      2.2

[10000 rows x 2 columns]

**[파생변수 5]** 구매상품 다양성: `구매한 서로다른 브랜드 수`

In [154]:
f = tr.groupby('custid')['brd_nm'].agg([('구매브랜드종류', lambda x: x.nunique())]).reset_index()
features.append(f); f

      custid  구매브랜드종류
0         18        9
1         21        6
2         23       22
3         26       15
4         35        5
5         50       27
6         69       10
7         82        5
8         92        7
9        100       10
10       102        4
11       103       13
12       126       26
13       148       18
14       154        3
...      ...      ...
9985  897551        2
9986  897798        8
9987  897955       15
9988  897968        3
9989  898069        7
9990  898101       37
9991  898211        6
9992  898240       10
9993  898244       18
9994  898468        5
9995  898872       21
9996  898895       10
9997  898994        8
9998  899372       13
9999  899751       24

[10000 rows x 2 columns]

**[파생변수 6]** 내점일수

In [155]:
f = tr.groupby(by = 'custid')['sales_date'].agg([('내점일수','nunique')]).reset_index()
features.append(f); f

      custid  내점일수
0         18    10
1         21     8
2         23    16
3         26    14
4         35     2
5         50    20
6         69    10
7         82     3
8         92     9
9        100     6
10       102     4
11       103    12
12       126    28
13       148    15
14       154     2
...      ...   ...
9985  897551     2
9986  897798    53
9987  897955    13
9988  897968     2
9989  898069     5
9990  898101    48
9991  898211     7
9992  898240     8
9993  898244    11
9994  898468     4
9995  898872    11
9996  898895     8
9997  898994     6
9998  899372    10
9999  899751    17

[10000 rows x 2 columns]

**[파생변수 7]** 수입상품 구매비율: `수입상품 구매건수` / `총 구매건수`

In [156]:
x = tr[tr['import_flg'] == 1].groupby('custid').size() / tr.groupby('custid').size()
f = x.reset_index().rename(columns={0: '수입상품_구매비율'}).fillna(0)
f.iloc[:,1] = (f.iloc[:,1]*100).apply(round, args=(1,))
features.append(f); f

      custid  수입상품_구매비율
0         18       26.7
1         21       11.1
2         23        5.6
3         26       39.3
4         35        0.0
5         50        0.0
6         69        7.1
7         82       60.0
8         92       23.1
9        100       25.0
10       102       20.0
11       103       26.7
12       126       19.5
13       148        0.0
14       154       50.0
...      ...        ...
9985  897551       50.0
9986  897798        0.0
9987  897955       31.6
9988  897968       33.3
9989  898069        0.0
9990  898101        0.0
9991  898211        0.0
9992  898240       35.7
9993  898244        5.3
9994  898468       25.0
9995  898872       20.8
9996  898895        0.0
9997  898994       10.0
9998  899372       26.7
9999  899751        6.0

[10000 rows x 2 columns]

**[파생변수 8]** 요일 구매패턴: `주말방문비율`

In [157]:
def fw(x):
    k = x.dayofweek
    if k <= 4 :
        return('주중_방문')
    else :
        return('주말_방문')    
    
df = tr.copy()
df = df.drop_duplicates(['custid','sales_date'])

df['week'] = pd.to_datetime(df.sales_date).apply(fw)
df = pd.pivot_table(df, index='custid', columns='week', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
df['주말방문비율'] = ((df.iloc[:,1] / (df.iloc[:,1]+df.iloc[:,2]))*100).apply(round, args=(1,))
f = df.copy().iloc[:,[0,-1]]
features.append(f); f

week  custid  주말방문비율
0         18   100.0
1         21    37.5
2         23    37.5
3         26    28.6
4         35   100.0
5         50    50.0
6         69    40.0
7         82   100.0
8         92    22.2
9        100    33.3
10       102   100.0
11       103    41.7
12       126    39.3
13       148    26.7
14       154     0.0
...      ...     ...
9985  897551   100.0
9986  897798    58.5
9987  897955    53.8
9988  897968     0.0
9989  898069    40.0
9990  898101    37.5
9991  898211     0.0
9992  898240    37.5
9993  898244    27.3
9994  898468    50.0
9995  898872    36.4
9996  898895    50.0
9997  898994    33.3
9998  899372    30.0
9999  899751    82.4

[10000 rows x 2 columns]

**[파생변수 9]** 계절별 구매건수: `Spring`(3~5)/`Summer`(6~8)/`Fall`(9-11)/`Winter`(12~2)

In [158]:
def f1(x):
    k = x.month
    if 3 <= k <= 5 :
        return('봄_구매건수')
    elif 6 <= k <= 8 :
        return('여름_구매건수')
    elif 9 <= k <= 11 :    
        return('가을_구매건수')
    else :
        return('겨울_구매건수')    
    
tr['season'] = pd.to_datetime(tr.sales_date).apply(f1)
f = pd.pivot_table(tr, index='custid', columns='season', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

season  custid  가을_구매건수  겨울_구매건수  봄_구매건수  여름_구매건수
0           18        0        9       6        0
1           21        0        5       4        0
2           23        7       17      12        0
3           26        5        8      15        0
4           35        0        0       5        0
5           50        7        7       8       14
6           69        4        4       6        0
7           82        0        0       5        0
8           92        1        0       2       10
9          100        0        5      11        0
10         102        3        1       0        1
11         103        4        3       4        4
12         126       10        7       3       21
13         148        6        6       8        4
14         154        0        0       4        0
...        ...      ...      ...     ...      ...
9985    897551        0        0       1        1
9986    897798       26       25      15       12
9987    897955        8        0       6        5
9988    897968        0        3       0        0
9989    898069        0        1       6        2
9990    898101       20       18      12       45
9991    898211        1        1       5        1
9992    898240        4        1       8        1
9993    898244        2        3       8        6
9994    898468        2        0       4        2
9995    898872        7        2      13        2
9996    898895        2        5       3        3
9997    898994        1        7       0        2
9998    899372        6        7       2        0
9999    899751       17       20      10        3

[10000 rows x 5 columns]

**[파생변수 10]** 시간대별 구매건수: `Morning`(09~12)/`Afternoon`/(13~17)/`Evening`(18-20)

In [159]:
def f2(x):
    if 9 <= x <= 12 :
        return('아침_구매건수')
    elif 13 <= x <= 17 :
        return('점심_구매건수')
    else :
        return('저녁_구매건수')  # datatime 필드가 시간 형식에 맞지 않은 값을 갖는 경우 저녁시간으로 처리

tr['timeslot'] = (tr.sales_time // 100).apply(f2)
f = pd.pivot_table(tr, index='custid', columns='timeslot', values='tot_amt', 
                   aggfunc=np.size, fill_value=0).reset_index()
features.append(f); f

timeslot  custid  아침_구매건수  저녁_구매건수  점심_구매건수
0             18        0        6        9
1             21        3        0        6
2             23       10       11       15
3             26        0       18       10
4             35        1        4        0
5             50        1       11       24
6             69        0        3       11
7             82        0        0        5
8             92        1        8        4
9            100        0        3       13
10           102        0        0        5
11           103        0        8        7
12           126        4       14       23
13           148        5        1       18
14           154        0        4        0
...          ...      ...      ...      ...
9985      897551        0        0        2
9986      897798       11       16       51
9987      897955        0       11        8
9988      897968        1        0        2
9989      898069        0        2        7
9990      898101       28       10       57
9991      898211        0        2        6
9992      898240        8        2        4
9993      898244        4        7        8
9994      898468        5        0        3
9995      898872        3        2       19
9996      898895        1        2       10
9997      898994        2        6        2
9998      899372        2       10        3
9999      899751        1        6       43

[10000 rows x 4 columns]

<font color='green'>
### Categorical Features

**[파생변수 11]** 주구매 파트: 29개 파트 중 가장 많이 구매한 곳
<font color='red'>주의) 이 변수를 만드는데 시간이 많이 소요된다.

In [160]:
f = tr.groupby('custid')['part_nm'].agg([('주구매코너', lambda x: x.value_counts().reset_index().sort_values(by=['part_nm','index'], ascending=False).iloc[0,0])]).reset_index()

f = pd.get_dummies(f, columns=['주구매코너'])  # This method performs One-hot-encoding

features.append(f); f

,custid,주구매코너_가정용품,주구매코너_가정용품파트,주구매코너_골프/유니캐쥬얼,주구매코너_공산품,주구매코너_공산품파트,주구매코너_남성의류,주구매코너_남성정장스포츠,주구매코너_로얄부띠끄,주구매코너_로얄부틱,주구매코너_명품잡화,주구매코너_생식품,주구매코너_생식품파트,주구매코너_스포츠캐주얼,주구매코너_스포츠캐쥬얼,주구매코너_아동,"주구매코너_아동,스포츠",주구매코너_아동문화,주구매코너_여성의류파트,주구매코너_여성정장,주구매코너_여성캐주얼,주구매코너_여성캐쥬얼,주구매코너_영라이브,주구매코너_영어덜트캐쥬얼,주구매코너_영캐릭터,주구매코너_영플라자,주구매코너_잡화,주구매코너_잡화파트,"주구매코너_케주얼,구두,아동",주구매코너_패션잡화
0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
5,50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
6,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
7,82,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
8,92,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
10,102,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
12,126,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
13,148,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
14,154,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,897551,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9986,897798,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9987,897955,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
9988,897968,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9989,898069,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
9990,898101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
9991,898211,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9992,898240,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
9993,898244,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9994,898468,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9995,898872,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
9996,898895,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9997,898994,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9998,899372,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9999,899751,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [161]:
# 12 #

In [162]:
f = tr.groupby('custid')['dis_amt'].agg([('mean','mean')]).reset_index()
features.append(f); f

      custid          mean
0         18   2998.666667
1         21    144.444444
2         23   8455.000000
3         26   6875.000000
4         35   4100.000000
5         50   3899.722222
6         69   2047.142857
7         82   6420.000000
8         92   4405.384615
9        100    783.750000
10       102   4900.000000
11       103   1345.333333
12       126   1842.195122
13       148   6063.333333
14       154   2562.500000
...      ...           ...
9985  897551  12550.000000
9986  897798    594.230769
9987  897955   7176.842105
9988  897968   4500.000000
9989  898069   2022.222222
9990  898101    223.578947
9991  898211   1637.500000
9992  898240   2157.142857
9993  898244   4267.894737
9994  898468   1400.000000
9995  898872   3063.750000
9996  898895   3751.538462
9997  898994   1989.000000
9998  899372  10503.333333
9999  899751   1762.200000

[10000 rows x 2 columns]

In [163]:
# 13 #

In [164]:
tr['sales_date'] = pd.to_datetime(tr['sales_date'])

In [165]:
a = tr.groupby(by = 'custid')['sales_date'].agg([('내점일수','nunique')]).reset_index()
b = tr.groupby(by = 'custid')['tot_amt'].agg([('총구매액','sum')]).reset_index()

In [166]:
f = pd.merge(a,b,how = 'inner')
f['구매력'] = round(f['총구매액']/f['내점일수'],1)
features.append(f); f

      custid  내점일수     총구매액       구매력
0         18    10   680100   68010.0
1         21     8   353450   44181.2
2         23    16  5671400  354462.5
3         26    14  1964000  140285.7
4         35     2   885000  442500.0
5         50    20  3580200  179010.0
6         69    10   816300   81630.0
7         82     3   752200  250733.3
8         92     9  1145400  127266.7
9        100     6   442160   73693.3
10       102     4   590000  147500.0
11       103    12   836600   69716.7
12       126    28  1892400   67585.7
13       148    15  2897110  193140.7
14       154     2   285000  142500.0
...      ...   ...      ...       ...
9985  897551     2   502000  251000.0
9986  897798    53  8309866  156789.9
9987  897955    13  1575900  121223.1
9988  897968     2   314120  157060.0
9989  898069     5   433920   86784.0
9990  898101    48  3468693   72264.4
9991  898211     7   492000   70285.7
9992  898240     8  1220000  152500.0
9993  898244    11  2649900  240900.0
9994  898468     4   264000   66000.0
9995  898872    11  2804000  254909.1
9996  898895     8  1115400  139425.0
9997  898994     6   609600  101600.0
9998  899372    10  2327800  232780.0
9999  899751    17  4456300  262135.3

[10000 rows x 4 columns]

In [167]:
## 14 ##

In [168]:
f = tr.groupby('custid')['tot_amt'].agg([('구매건수', 'size')]).reset_index()
f = pd.merge(f,a,how = 'inner')
f['충동구매'] = f['구매건수']/f['내점일수']
features.append(f); f

      custid  구매건수  내점일수      충동구매
0         18    15    10  1.500000
1         21     9     8  1.125000
2         23    36    16  2.250000
3         26    28    14  2.000000
4         35     5     2  2.500000
5         50    36    20  1.800000
6         69    14    10  1.400000
7         82     5     3  1.666667
8         92    13     9  1.444444
9        100    16     6  2.666667
10       102     5     4  1.250000
11       103    15    12  1.250000
12       126    41    28  1.464286
13       148    24    15  1.600000
14       154     4     2  2.000000
...      ...   ...   ...       ...
9985  897551     2     2  1.000000
9986  897798    78    53  1.471698
9987  897955    19    13  1.461538
9988  897968     3     2  1.500000
9989  898069     9     5  1.800000
9990  898101    95    48  1.979167
9991  898211     8     7  1.142857
9992  898240    14     8  1.750000
9993  898244    19    11  1.727273
9994  898468     8     4  2.000000
9995  898872    24    11  2.181818
9996  898895    13     8  1.625000
9997  898994    10     6  1.666667
9998  899372    15    10  1.500000
9999  899751    50    17  2.941176

[10000 rows x 4 columns]

In [169]:
## 15 할인비율 ## 할인금액 / 총금액

In [170]:
tr.head(5)

,custid,sales_date,sales_time,str_nm,goodcd,brd_nm,corner_nm,pc_nm,part_nm,team_nm,buyer_nm,import_flg,tot_amt,dis_amt,net_amt,inst_mon,season,timeslot
0,18,2000-12-09,1523,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,43000,2150,40850,1,겨울_구매건수,점심_구매건수
1,18,2000-12-09,1730,신촌점,4220830013076,BCBG,칼라드래디셔널,타운란제리,여성캐주얼,의류패션팀,엘레강스캐주얼,0,148000,0,148000,3,겨울_구매건수,점심_구매건수
2,18,2000-12-09,1712,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,43000,4300,38700,1,겨울_구매건수,점심_구매건수
3,18,2000-12-09,1710,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,-43000,-2150,-40850,1,겨울_구매건수,점심_구매건수
4,18,2001-02-03,1822,신촌점,2116052008000,크리니크,수입종합화장품,화장품,패션잡화,잡화가용팀,화장품,1,19000,1900,17100,1,겨울_구매건수,저녁_구매건수

In [171]:
a = tr.groupby('custid')['tot_amt'].agg([('총구입금액','sum')]).reset_index()

In [172]:
b = tr.groupby('custid')['dis_amt'].agg([('총할인금액','sum')]).reset_index()

In [173]:
c = pd.merge(a,b,how = 'inner')
c['할인금액/총금액'] = c['총할인금액']/c['총구입금액']

In [174]:
f = c.loc[:,['custid','할인금액/총금액']]
features.append(f); f

      custid  할인금액/총금액
0         18  0.066137
1         21  0.003678
2         23  0.053669
3         26  0.098014
4         35  0.023164
5         50  0.039213
6         69  0.035110
7         82  0.042675
8         92  0.050000
9        100  0.028361
10       102  0.041525
11       103  0.024121
12       126  0.039912
13       148  0.050229
14       154  0.035965
...      ...       ...
9985  897551  0.050000
9986  897798  0.005578
9987  897955  0.086528
9988  897968  0.042977
9989  898069  0.041943
9990  898101  0.006123
9991  898211  0.026626
9992  898240  0.024754
9993  898244  0.030601
9994  898468  0.042424
9995  898872  0.026223
9996  898895  0.043724
9997  898994  0.032628
9998  899372  0.067682
9999  899751  0.019772

[10000 rows x 2 columns]

In [175]:
# 고객 방문 빈도 #

In [176]:
tr['unixtime'] = tr['sales_date'].view('int64')
csu = tr.groupby('custid')['unixtime'].agg([('unique','unique')])
abc = {}
for i in range(0,10000):
    abc[i] = np.var(csu[['unique']].iloc[i,:][0])
abc.values()
csu['고객 방문빈도'] = abc.values() 
csu.head(5)

                                                   unique       고객 방문빈도
custid
18      [976320000000000000, 981158400000000000, 98297...  1.220737e+31
21      [977356800000000000, 977270400000000000, 97873...  1.676443e+31
23      [975110400000000000, 977270400000000000, 97675...  2.071200e+31
26      [972259200000000000, 972950400000000000, 97355...  2.746892e+31
35               [987897600000000000, 987811200000000000]  1.866240e+27

In [177]:
csu = csu.reset_index()

In [178]:
f = csu.loc[:,['custid','고객 방문빈도']]
features.append(f); f

      custid       고객 방문빈도
0         18  1.220737e+31
1         21  1.676443e+31
2         23  2.071200e+31
3         26  2.746892e+31
4         35  1.866240e+27
5         50  7.603903e+31
6         69  4.631328e+31
7         82  1.000305e+30
8         92  1.345849e+31
9        100  2.491845e+30
10       102  1.634453e+31
11       103  6.952548e+31
12       126  6.243604e+31
13       148  7.924549e+31
14       154  9.144576e+28
...      ...           ...
9985  897551  9.280625e+31
9986  897798  6.420781e+31
9987  897955  8.120110e+31
9988  897968  1.793457e+30
9989  898069  1.169909e+32
9990  898101  7.433139e+31
9991  898211  8.728336e+31
9992  898240  9.947572e+31
9993  898244  5.467892e+31
9994  898468  4.571168e+31
9995  898872  1.253889e+32
9996  898895  8.226199e+31
9997  898994  5.955960e+31
9998  899372  2.843224e+31
9999  899751  6.124863e+31

[10000 rows x 2 columns]

In [179]:
## 파트별 구매 ##

In [180]:
cde = tr.groupby(['part_nm','custid'])['tot_amt'].agg([('브랜드별 구매횟수', 'size')]).reset_index()
cde

      part_nm  custid  브랜드별 구매횟수
0        가정용품      50          1
1        가정용품     103          1
2        가정용품     126          1
3        가정용품     148          1
4        가정용품     175          1
5        가정용품     186          1
6        가정용품     239          1
7        가정용품     261          2
8        가정용품     302          2
9        가정용품     304          2
10       가정용품     310          1
11       가정용품     434         11
12       가정용품     468          3
13       가정용품     474          1
14       가정용품     516          2
...       ...     ...        ...
67975    패션잡화  895215          9
67976    패션잡화  895675          3
67977    패션잡화  896330          3
67978    패션잡화  896332          3
67979    패션잡화  896417         15
67980    패션잡화  896448          3
67981    패션잡화  896822          2
67982    패션잡화  896977          1
67983    패션잡화  897156         10
67984    패션잡화  897218          2
67985    패션잡화  897968          2
67986    패션잡화  898211          1
67987    패션잡화  898895          6
67988    패션잡화  898994          6
67989    패션잡화  899372          9

[67990 rows x 3 columns]

In [181]:
f = pd.pivot_table(cde, values='브랜드별 구매횟수', index='custid', columns='part_nm', 
                   aggfunc= sum, fill_value=0).reset_index()
features.append(f); f

part_nm,custid,가정용품,가정용품파트,골프/유니캐쥬얼,공산품,공산품파트,남성의류,남성정장스포츠,로얄부띠끄,로얄부틱,명품잡화,생식품,생식품파트,스포츠캐주얼,스포츠캐쥬얼,아동,"아동,스포츠",아동문화,여성의류파트,여성정장,여성캐주얼,여성캐쥬얼,영라이브,영어덜트캐쥬얼,영캐릭터,영플라자,잡화,잡화파트,"케주얼,구두,아동",패션잡화
0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,1,0,0,0,12
1,21,0,0,0,4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0
2,23,0,0,0,2,0,2,0,0,0,0,0,0,8,0,0,0,0,0,0,6,0,0,0,1,3,0,0,0,14
3,26,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,5,0,0,1,19
4,35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2
5,50,1,0,0,0,0,5,0,0,0,0,0,0,8,0,0,0,0,0,0,1,0,0,0,1,10,0,0,0,10
6,69,0,0,0,2,0,0,0,0,0,0,0,0,0,1,0,2,0,0,0,0,0,6,1,0,0,2,0,0,0
7,82,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,3
8,92,0,0,2,0,0,0,0,0,0,7,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0
9,100,0,0,2,2,0,0,0,0,0,4,1,0,0,0,0,5,0,0,0,1,0,0,0,0,0,0,0,0,1
10,102,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,3
11,103,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,6,0,0,0,6,0,0,0
12,126,1,0,0,1,0,1,0,0,0,0,0,0,6,0,0,0,3,0,0,1,0,0,0,2,13,0,0,0,13
13,148,1,0,0,4,0,0,1,0,0,1,0,0,4,0,0,0,1,0,0,2,0,0,0,0,6,0,0,0,4
14,154,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,897551,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9986,897798,0,1,0,0,35,0,1,0,0,1,0,27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,3,0
9987,897955,1,0,1,1,0,0,0,0,0,4,0,0,0,1,1,0,0,0,1,1,0,4,0,0,0,4,0,0,0
9988,897968,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
9989,898069,0,0,1,2,0,0,0,0,0,3,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0
9990,898101,0,0,0,13,0,4,0,0,0,0,18,0,0,7,1,0,0,0,12,0,9,11,1,0,0,19,0,0,0
9991,898211,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,1,0,3,0,0,0,0,0,1,0,0,1
9992,898240,0,0,1,0,0,0,0,1,0,5,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,1,0,0
9993,898244,0,0,3,1,0,4,0,0,0,3,0,0,0,0,0,1,0,0,0,5,0,0,0,0,0,0,0,2,0
9994,898468,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,3,0,0,1,0,0,0,0,0,0,0,0,0,0
9995,898872,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,6,14,0
9996,898895,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,0,0,0,0,0,3,6
9997,898994,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,6
9998,899372,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,9
9999,899751,4,0,0,4,0,11,0,0,0,0,0,0,0,1,0,0,0,0,7,0,3,3,6,0,0,11,0,0,0

In [182]:
#################

<br><br>
*아래 코드를 수행하면 생성한 모든 파생변수가 병합되고 학습용과 평가용으로 나뉘어진다.*

In [183]:
X_train = DataFrame({'custid': train.custid.unique()})
for f in features :
    X_train = pd.merge(X_train, f, how='left')
print(X_train)

X_test = DataFrame({'custid': test.custid.unique()})
for f in features :
    X_test = pd.merge(X_test, f, how='left')
print(X_test)

      custid      총구매액  구매건수  평균구매가격  평균할부개월수  구매브랜드종류  내점일수  수입상품_구매비율  \
0         18    680100    15   45340      1.7        9    10       26.7
1         21    353450     9   39272      1.2        6     8       11.1
2         23   5671400    36  157539      2.8       22    16        5.6
3         26   1964000    28   70143      1.4       15    14       39.3
4         35    885000     5  177000      6.0        5     2        0.0
5         50   3580200    36   99450      2.4       27    20        0.0
6         69    816300    14   58307      1.7       10    10        7.1
7         82    752200     5  150440      2.6        5     3       60.0
8         92   1145400    13   88108      1.9        7     9       23.1
9        100    442160    16   27635      1.0       10     6       25.0
10       102    590000     5  118000      3.0        4     4       20.0
11       103    836600    15   55773      2.1       13    12       26.7
12       126   1892400    41   46156      1.6       26    28       19.5
13       148   2897110    24  120713      1.5       18    15        0.0
14       154    285000     4   71250      2.0        3     2       50.0
...      ...       ...   ...     ...      ...      ...   ...        ...
4985   49847    461744     4  115436      2.5        3     3       50.0
4986   49848    342800     2  171400      3.5        2     2       50.0
4987   49857   8266055    38  217528      2.2       24    29       31.6
4988   49862   2683160    57   47073      1.9       23    20       24.6
4989   49879   5001160    94   53204      1.9       18    65        2.1
4990   49894   1387995    13  106769      3.2        5    12        7.7
4991   49899   5731141    57  100546      2.2       29    33       12.3
4992   49909    922000     6  153667      2.0        4     4       50.0
4993   49910   2363675    11  214880      2.8        8     9       36.4
4994   49946  13525907   240   56358      1.4       45   126        6.2
4995   49952   6666517    93   71683      1.8       27    39       10.8
4996   49954   3112100    17  183065      3.6       10    13       29.4
4997   49957   5852482    37  158175      2.6       14    21       40.5
4998   49975    654498    13   50346      2.5       10     7        7.7
4999   49993   2554723    32   79835      1.7        9    26       21.9

      주말방문비율  가을_구매건수  겨울_구매건수  봄_구매건수  여름_구매건수  아침_구매건수  저녁_구매건수  ...   아동  \
0      100.0        0        9       6        0        0        6  ...    0
1       37.5        0        5       4        0        3        0  ...    0
2       37.5        7       17      12        0       10       11  ...    0
3       28.6        5        8      15        0        0       18  ...    0
4      100.0        0        0       5        0        1        4  ...    0
5       50.0        7        7       8       14        1       11  ...    0
6       40.0        4        4       6        0        0        3  ...    0
7      100.0        0        0       5        0        0        0  ...    0
8       22.2        1        0       2       10        1        8  ...    0
9       33.3        0        5      11        0        0        3  ...    0
10     100.0        3        1       0        1        0        0  ...    0
11      41.7        4        3       4        4        0        8  ...    0
12      39.3       10        7       3       21        4       14  ...    0
13      26.7        6        6       8        4        5        1  ...    0
14       0.0        0        0       4        0        0        4  ...    0
...      ...      ...      ...     ...      ...      ...      ...  ...   ..
4985    33.3        2        1       1        0        2        2  ...    0
4986     0.0        0        0       1        1        0        0  ...    0
4987    10.3       12        7      11        8       24        0  ...    0
4988    30.0       18        7      11       21        1        5  ...    0
4989    29.2       18       15      41       20       52        0  ...    1
4990    25.0        4        6       3        0        7        0  ...    0
4991    33.3        1       27      17       12        1        1  ...    0
4992    25.0        4        0       0        2        0        1  ...    0
4993    44.4        3        4       1        3        4        2  ...    0
4994    27.8       57       66      49       68       52       35  ...    0
4995    43.6       13       33      14       33        8       41  ...    0
4996    38.5        4        6       6        1        3        0  ...    2
4997    19.0       12        6       6       13       16        0  ...    0
4998    14.3        6        4       2        1        0        2  ...    0
4999    34.6        6        5      10       11        8        5  ...    0

      아동,스포츠  아동문화  여성의류파트  여성정장  여성캐주얼  여성캐쥬얼  영라이브  영어덜트캐쥬얼  영캐릭터  영플라자  잡화  \
0          0     0       0     0      2      0     0        0     0     1   0
1          0     0       0     0      4      0     0        0     0     0   0
2          0     0       0     0      6      0     0        0     1     3   0
3          0     0       0     0      1      0     0        0     1     5   0
4          0     0       0     0      0      0     0        0     0     0   3
5          0     0       0     0      1      0     0        0     1    10   0
6          2     0       0     0      0      0     6        1     0     0   2
7          0     0       0     0      1      0     0        0     0     0   0
8          4     0       0     0      0      0     0        0     0     0   0
9          5     0       0     0      1      0     0        0     0     0   0
10         0     0       0     0      0      0     0        0     0     0   0
11         0     0       0     0      0      0     6        0     0     0   6
12         0     3       0     0      1      0     0        0     2    13   0
13         0     1       0     0      2      0     0        0     0     6   0
14         0     0       0     0      0      0     0        0     0     0   1
...      ...   ...     ...   ...    ...    ...   ...      ...   ...   ...  ..
4985       0     0       0     0      1      0     0        0     0     0   0
4986       0     0       0     0      0      0     0        0     0     0   1
4987       0     0       0     7      3      0     0        0     0     0   0
4988       0     0       0     0      0      0     0        0     0     0   0
4989       0     0       0     2      0      3     4        1     0     0   4
4990       0     0       0     2      0      0     0        0     0     0   1
4991       5     0       2     0      0      0     0        0     0     0   0
4992       0     0       1     0      0      0     0        0     0     0   0
4993       0     0       0     0      0      0     0        0     0     0   0
4994       0     0      12     0      0      0     0        0     0     0   0
4995       0     0       0    12      1      0     0        0     0     0   5
4996       0     0       0     7      0      0     0        0     0     0   0
4997       0     0       0     4      0      0     0        0     0     0   0
4998       0     0       0     4      0      0     0        0     0     0   0
4999       0     0       0     0      0      0     0        0     0     0   0

      잡화파트  케주얼,구두,아동  패션잡화
0        0          0    12
1        0          0     0
2        0          0    14
3        0          1    19
4        0          0     2
5        0          0    10
6        0          0     0
7        0          0     3
8        0          0     0
9        0          0     1
10       1          1     3
11       0          0     0
12       0          0    13
13       0          0     4
14       0          0     2
...    ...        ...   ...
4985     0          0     2
4986     0          0     0
4987     1          0     1
4988     4          0     2
4989     0          0     0
4990     0          0     0
4991    10         29     0
4992     3          0     0
4993     0          0     3
4994    15         24     0
4995     0          0     0
4996     0          1     0
4997     3          0     1
4998     0          0     4
4999     6          1     0

[5000 rows x 79 columns]
      custid      총구매액  구매건수  평균구매가격  평균할부개월수  구매브랜드종류  내점일수  수입상품_구매비율  \
0     100007    231200     4   57800      1.5        4     2        0.0
1     100123   1021000    10  102100      3.0        5     7        0.0
2     100317   7140000    26  274615      3.0       18     7       42.3
3     100409    507298     4  126824      2.0        4     3        0.0
4     100515   2073617    24   86401      1.8       22    18        8.3
5     100659   1812800    19   95411      1.9       18    14       15.8
6     100913    161000     4   40250      1.5        2     2       25.0
7     100941   1391702    33   42173      1.0       23    19       18.2
8     100956  42115060   100  421151      3.2       49    38       40.0
9     100977   1440474    29   49672      1.7       19    20        0.0
10    101432    144000     8   18000      2.2        4     6       37.5
11    101650   2677880    82   32657      1.6       48    45        3.7
12    101718    105000     2   52500      2.0        2     1       50.0
13    101778   7631548    57  133887      2.2       40    28       21.1
14    102064   2590531    55   47101      2.1       27    15        3.6
...      ...       ...   ...     ...      ...      ...   ...        ...
4985  897551    502000     2  251000      4.5        2     2       50.0
4986  897798   8309866    78  106537      1.5        8    53        0.0
4987  897955   1575900    19   82942      1.4       15    13       31.6
4988  897968    314120     3  104707      3.3        3     2       33.3
4989  898069    433920     9   48213      1.9        7     5        0.0
4990  898101   3468693    95   36513      1.9       37    48        0.0
4991  898211    492000     8   61500      2.5        6     7        0.0
4992  898240   1220000    14   87143      1.7       10     8       35.7
4993  898244   2649900    19  139468      2.1       18    11        5.3
4994  898468    264000     8   33000      1.0        5     4       25.0
4995  898872   2804000    24  116833      1.4       21    11       20.8
4996  898895   1115400    13   85800      2.1       10     8        0.0
4997  898994    609600    10   60960      1.6        8     6       10.0
4998  899372   2327800    15  155187      1.3       13    10       26.7
4999  899751   4456300    50   89126      2.2       24    17        6.0

      주말방문비율  가을_구매건수  겨울_구매건수  봄_구매건수  여름_구매건수  아침_구매건수  저녁_구매건수  ...   아동  \
0       50.0        0        3       1        0        0        1  ...    0
1       28.6        0        9       1        0        0        6  ...    0
2       28.6        0       10      16        0        4        5  ...    0
3       66.7        1        0       0        3        2        0  ...    0
4       22.2        1        1       9       13        9        2  ...    0
5       50.0        0        6       6        7        0        5  ...    0
6       50.0        3        1       0        0        3        0  ...    0
7       26.3        8        7       9        9        8       13  ...    0
8       28.9       15       24      22       39        3       17  ...    0
9       45.0        6        9       9        5        3        9  ...    0
10      16.7        1        0       5        2        0        0  ...    0
11      11.1       11       18      16       37       18        2  ...    0
12       0.0        2        0       0        0        1        0  ...    0
13      32.1       12        7      23       15        8        3  ...    0
14      66.7       16       11       1       27        3        3  ...    0
...      ...      ...      ...     ...      ...      ...      ...  ...   ..
4985   100.0        0        0       1        1        0        0  ...    0
4986    58.5       26       25      15       12       11       16  ...    0
4987    53.8        8        0       6        5        0       11  ...    1
4988     0.0        0        3       0        0        1        0  ...    0
4989    40.0        0        1       6        2        0        2  ...    0
4990    37.5       20       18      12       45       28       10  ...    1
4991     0.0        1        1       5        1        0        2  ...    0
4992    37.5        4        1       8        1        8        2  ...    0
4993    27.3        2        3       8        6        4        7  ...    0
4994    50.0        2        0       4        2        5        0  ...    0
4995    36.4        7        2      13        2        3        2  ...    0
4996    50.0        2        5       3        3        1        2  ...    0
4997    33.3        1        7       0        2        2        6  ...    0
4998    30.0        6        7       2        0        2       10  ...    0
4999    82.4       17       20      10        3        1        6  ...    0

      아동,스포츠  아동문화  여성의류파트  여성정장  여성캐주얼  여성캐쥬얼  영라이브  영어덜트캐쥬얼  영캐릭터  영플라자  잡화  \
0          0     0       0     0      0      0     0        0     0     0   0
1          0     0       0     0      0      0     0        0     1     5   0
2          0     0       0     4      7      0     0        0     0     0   0
3          0     0       0     0      0      0     0        0     0     0   0
4          0     3       0     1      1      0     0        0     0     0   0
5          1     0       5     0      0      0     0        0     0     0   0
6          0     0       0     0      0      0     0        0     0     0   0
7          0     0       0     0      0      0     0        0     0     0   0
8         26     0       0     7      6      0     0        0     0     0   0
9          0     0       0     0      0      0     0        1     1     3   0
10         0     0       5     0      0      0     0        0     0     0   0
11         0     2       0     8      9      0     0        0     2    17   0
12         0     0       0     0      0      0     0        0     0     0   0
13         0     0       5     0      2      0     0        0     0     0   0
14        18     0       0     0      0      0     0        0     0     0   0
...      ...   ...     ...   ...    ...    ...   ...      ...   ...   ...  ..
4985       0     0       0     1      0      0     0        0     0     0   0
4986       0     0       0     0      0      0     0        0     0     0   0
4987       0     0       0     1      1      0     4        0     0     0   4
4988       0     0       0     0      0      0     0        0     0     0   0
4989       3     0       0     0      0      0     0        0     0     0   0
4990       0     0       0    12      0      9    11        1     0     0  19
4991       0     0       1     0      3      0     0        0     0     0   1
4992       6     0       0     0      0      0     0        0     0     0   0
4993       1     0       0     0      5      0     0        0     0     0   0
4994       3     0       0     1      0      0     0        0     0     0   0
4995       0     0       2     0      0      0     0        0     0     0   0
4996       0     2       0     0      0      0     0        0     0     0   0
4997       0     0       0     0      0      0     0        0     0     3   0
4998       0     0       0     0      0      0     0        0     0     5   0
4999       0     0       0     7      0      3     3        6     0     0  11

      잡화파트  케주얼,구두,아동  패션잡화
0        0          0     3
1        0          0     4
2        0          0     2
3        1          0     0
4        1          2     7
5        7          4     0
6        0          0     4
7       13          2     0
8        0          2    13
9        4          9     0
10       1          0     0
11       0          0     6
12       1          1     0
13      20          7     0
14       0          0     0
...    ...        ...   ...
4985     0          0     0
4986    10          3     0
4987     0          0     0
4988     0          0     2
4989     0          0     0
4990     0          0     0
4991     0          0     1
4992     1          0     0
4993     0          2     0
4994     0          0     0
4995     6         14     0
4996     0          3     6
4997     0          0     6
4998     0          0     9
4999     0          0     0

[5000 rows x 79 columns]

*아래 코드를 수행하면 학습용 데이터와 평가용 데이터가 저장된다.*
<font color='red'>
*(유의사항) 화일명을 절대 변경하지 말 것!*

In [184]:
X_train.to_csv('X_train.csv', index=False, encoding='cp949')
X_test.to_csv('X_test.csv', index=False, encoding='cp949')

<font color = "#CC3D3D">
## End